config.stopBubbling = true
lombok.anyconstructor.addconstructorproperties = false
lombok.addLombokGeneratedAnnotation = true
lombok.addSuppressWarnings = false
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonFormat
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty